.root {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px 123px 20px 40px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox___521Hd {
  background: url("./images/oip1.jpg") center center / cover no-repeat;
  width: 83px;
  height: 45px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.freeBox__qIZs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7ORoh {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  min-width: 0;
  border-radius: 30px;
  padding: 10px;
}
.freeBox___7ORoh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___7ORoh > :global(.__wab_flex-container) > *,
.freeBox___7ORoh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7ORoh > :global(.__wab_flex-container) > picture > img,
.freeBox___7ORoh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.navBarNavButton__pO42K:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.navBarNavButton__co2H6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  min-width: 145px;
}
.navBarNavButton___2IuX6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.navBarNavButton__vvEtk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.navBarNavButton__dl7Wd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
