.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.figmaPaste {
  display: flex;
  position: relative;
  width: 100%;
  height: 1484px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  flex-shrink: 0;
}
.headerAndText {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin: 10px 10px 35px;
}
.text__x3Vi5 {
  display: block;
  font-size: 50px;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 80px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hQfvk {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(98, 108, 120, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}
.navigationBar {
  background: rgba(241, 241, 241, 1);
  width: 1000px;
  height: 50px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.navigationBar2:global(.__wab_instance) {
  width: 150px;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  height: 50px;
  position: absolute;
  left: 1px;
  top: 2px;
  padding: 16px;
}
.img__mIn39 {
  object-fit: cover;
}
.img__mIn39 > picture > img {
  object-fit: cover;
}
.svg__jsuTj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #33363f;
  width: 40px;
  height: 40px;
  display: block;
  left: 956px;
  top: 5px;
}
.frame8722 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
}
.frame8722 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame8722 > :global(.__wab_flex-container) > *,
.frame8722 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8722 > :global(.__wab_flex-container) > picture > img,
.frame8722
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.navigationButton {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle7 {
  background: rgba(241, 241, 241, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -112%;
  left: 948%;
}
.group {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__m5JC6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__m5JC6 > picture > img {
  object-fit: cover;
}
.settings {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings2 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__pmyNn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px2 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__viY9M {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group2 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings3 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings4 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group3 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings5 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg___6Ia1T {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg___4C4Gl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group4 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__oKbdb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__oKbdb > picture > img {
  object-fit: cover;
}
.settings6 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings7 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px3 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__gyDk6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px4 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__mBfcR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group5 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings8 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings9 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group6 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings10 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg___8KVth {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__iQv8W {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore2 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group7 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__sM5El {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__sM5El > picture > img {
  object-fit: cover;
}
.settings11 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings12 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px5 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__fq1Xg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px6 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__jas9D {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group8 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings13 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings14 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group9 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings15 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__xwQa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__ytnZb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore3 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group10 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__bfZx1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__bfZx1 > picture > img {
  object-fit: cover;
}
.settings16 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings17 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px7 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__z5I3G {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px8 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg___9Y2Ne {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group11 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings18 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings19 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group12 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings20 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__hP4KK {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__ocngN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore4 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group13 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__jcBqN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__jcBqN > picture > img {
  object-fit: cover;
}
.settings21 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings22 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px9 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__tf9Qo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px10 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__qAsNa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group14 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings23 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings24 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group15 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings25 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__xts4B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg___75M7M {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore5 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.enscape202312140837231 {
  background: url("./images/rectangle3183.jpg") center center / cover no-repeat;
  width: 800px;
  height: 600px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.group16 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__spTdu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__spTdu > picture > img {
  object-fit: cover;
}
.settings26 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings27 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px11 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg___6K1Xu {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px12 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg___7W9Q {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group17 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings28 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings29 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group18 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings30 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__zsosQ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__vvoQm {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore6 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group19 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img__rrGiA {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img__rrGiA > picture > img {
  object-fit: cover;
}
.settings31 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings32 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px13 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__frcSy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px14 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__vlgPj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group20 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings33 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings34 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group21 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings35 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__uIrO {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__cVRY {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore7 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group22 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img___3Dgcf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img___3Dgcf > picture > img {
  object-fit: cover;
}
.settings36 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings37 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px15 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg___72Yf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px16 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__uG5P5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group23 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings38 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings39 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group24 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings40 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg___2J19R {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__ukBxx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore8 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group25 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img___5QJ0Y {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
  border-radius: 2px;
}
.img___5QJ0Y > picture > img {
  object-fit: cover;
}
.settings41 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings42 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px17 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__elp3B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px18 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__gMluk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group26 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings43 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings44 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group27 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings45 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg__xwea5 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__mv1Mk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore9 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.group28 {
  width: 400px;
  height: 60px;
  display: block;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.img___2Fkg4 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  height: 60px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img___2Fkg4 > picture > img {
  object-fit: cover;
}
.settings46 {
  position: absolute;
  top: 43.33%;
  left: 10.5%;
  width: 79.04%;
  height: 21.66%;
  transform: translate(0px, -0.13800000000000168px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.settings47 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.40625;
  color: rgba(0, 0, 0, 0.87);
}
.icExpandMoreBlack24Px19 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.4689999999999941px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 393px;
}
.svg__pn1GY {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.icExpandMoreBlack24Px20 {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.053999999999973625px, 0.22500000000000142px);
  width: 14px;
  height: 16px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 23px;
  left: 376px;
}
.svg__m90Da {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(179.94270423958343deg) skew(-0.05729570311883569deg, 0deg)
    translate(0.06099999999997863px, 0.47093900000000133px);
  width: 13.061px;
  height: 15.483px;
  display: block;
  top: 15px;
  left: 13px;
}
.group29 {
  transform: translate(0.10799999999999699px, 0.3440000000000012px);
  width: 153px;
  height: 11px;
  display: block;
  position: absolute;
  top: 40px;
  left: 42px;
}
.settings48 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 48.5%;
  height: 106.56%;
}
.settings49 {
  display: block;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 52.32%;
  width: 47.76%;
  height: 106.56%;
  transform: translate(-0.13100000000000023px, 0px);
}
.group30 {
  transform: translate(0px, 0.37899999999999956px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
}
.settings50 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.28906;
  color: rgba(0, 0, 0, 0.379);
  position: absolute;
  top: 30.28%;
  left: 0%;
  width: 100%;
  height: 46.8%;
  transform: translate(0px, 0.2840000000000007px);
}
.svg___5BhN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg)
    translate(0.3619999999999983px, -0.39899999999999913px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 22.02%;
  left: 63.28%;
}
.svg__ol5IZ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: skew(-0.057295760414500616deg, 0deg)
    translate(-0.021000000000000796px, -0.2779999999999987px);
  width: 11px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 79.83%;
  left: 35.77%;
}
.abefore10 {
  background: url("./images/abefore.png") -8px -20px / 38px 39px no-repeat,
    rgba(28, 160, 241, 1);
  transform: translate(0.17000000000001592px, -0.2809999999999988px);
  width: 5.44%;
  height: 38.33%;
  display: block;
  position: absolute;
  top: 50%;
  left: 91.25%;
  border-radius: 12px;
}
.viewSelectionBar {
  background: rgba(241, 241, 241, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 50px;
  padding: 5px;
}
.viewSelectionBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.viewSelectionBar > :global(.__wab_flex-container) > *,
.viewSelectionBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.viewSelectionBar > :global(.__wab_flex-container) > picture > img,
.viewSelectionBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___3WvOj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame8715:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__d0AVb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame8716:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__nyPht {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame8717:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__s60Yq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.frame8718:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__q6Hi0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chooseYourFavoriteProposal {
  width: 1048px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__bpIhN {
  display: block;
  font-size: 50px;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 80px;
  color: rgba(0, 0, 0, 1);
}
.section {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: auto;
  top: auto;
}
.div {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  padding: 20px;
}
.div > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.div > :global(.__wab_flex-container) > *,
.div > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div > :global(.__wab_flex-container) > picture > img,
.div > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 44px;
}
.votingCard {
  background: rgba(241, 241, 241, 1);
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.25));
  width: 232px;
  height: 238px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 15px;
}
.votingCard > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.votingCard > :global(.__wab_flex-container) > *,
.votingCard > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.votingCard > :global(.__wab_flex-container) > picture > img,
.votingCard
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-bottom: 50px;
}
.text__nlJBg {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 50px;
  color: rgba(1, 2, 58, 1);
  position: relative;
}
.div2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.div2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.div2 > :global(.__wab_flex-container) > *,
.div2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.div2 > :global(.__wab_flex-container) > picture > img,
.div2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.frame8713 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.frame8713 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame8713 > :global(.__wab_flex-container) > *,
.frame8713 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8713 > :global(.__wab_flex-container) > picture > img,
.frame8713
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.votes {
  position: relative;
  width: 61px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text__wVRbg {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 68px;
  color: rgba(0, 0, 0, 1);
}
._346 {
  position: relative;
  width: 82px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.text___3ZRkw {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 68px;
  color: rgba(0, 0, 0, 1);
}
.div3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.a {
  background: linear-gradient(
      -90deg,
      rgba(53, 67, 218, 1) 4%,
      rgba(213, 91, 176, 1) 94%
    )
    0% 0% / 100% 100% no-repeat;
  width: 131px;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 16px 20px;
}
.text__otUe {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.votingCard2:global(.__wab_instance) {
  width: 232px;
  height: 238px;
  position: relative;
  flex-shrink: 0;
}
.votingCard3:global(.__wab_instance) {
  width: 232px;
  height: 238px;
  position: relative;
  flex-shrink: 0;
}
.votingCard4:global(.__wab_instance) {
  width: 232px;
  height: 238px;
  position: relative;
  flex-shrink: 0;
}
.votingCard5:global(.__wab_instance) {
  width: 232px;
  height: 238px;
  position: relative;
  flex-shrink: 0;
}
