.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___6TkBw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.freeBox___6TkBw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___6TkBw > :global(.__wab_flex-container) > *,
.freeBox___6TkBw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6TkBw > :global(.__wab_flex-container) > picture > img,
.freeBox___6TkBw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.grade:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___5UVn6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.freeBox___5UVn6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5UVn6 > :global(.__wab_flex-container) > *,
.freeBox___5UVn6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UVn6 > :global(.__wab_flex-container) > picture > img,
.freeBox___5UVn6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__px7Sb {
  width: 100%;
  min-width: 0;
}
.often:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__oIb3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.freeBox__oIb3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__oIb3 > :global(.__wab_flex-container) > *,
.freeBox__oIb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oIb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__oIb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.notLikeComment {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 5px;
}
.freeBox__sguF9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}
.freeBox__sguF9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__sguF9 > :global(.__wab_flex-container) > *,
.freeBox__sguF9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sguF9 > :global(.__wab_flex-container) > picture > img,
.freeBox__sguF9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.improvementComment {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 5px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5X3MJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wxuMq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.climbingSubmit:global(.__wab_instance) {
  max-width: 100%;
}
.climbingSubmitactivity_bridgePlatform:global(.__wab_instance) {
  display: none;
}
.climbingSubmitactivity_skateParkArea:global(.__wab_instance) {
  display: none;
}
.climbingSubmitactivity_openActivitiesNorth:global(.__wab_instance) {
  display: none;
}
.climbingSubmitactivity_openActivitiesSouth:global(.__wab_instance) {
  display: none;
}
.svg__dbEaz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k1K7P {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.svg__tUf9G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cWgXc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bUmDu {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg___9GcIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__obQjP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6HZ1V {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__iXk7B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.platformSubmit:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.platformSubmitactivity_bridgePlatform:global(.__wab_instance) {
  display: flex;
}
.platformSubmitactivity_skateParkArea:global(.__wab_instance) {
  display: none;
}
.platformSubmitactivity_openActivitiesNorth:global(.__wab_instance) {
  display: none;
}
.platformSubmitactivity_openActivitiesSouth:global(.__wab_instance) {
  display: none;
}
.svg__y7B4B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hU3Y {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.svg__rHxug {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uSyUn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wJgG2 {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg___7SieI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xAdb0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pHDsX {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__xoFVf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.skateSubmit:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.skateSubmitactivity_skateParkArea:global(.__wab_instance) {
  display: flex;
}
.skateSubmitactivity_openActivitiesNorth:global(.__wab_instance) {
  display: none;
}
.skateSubmitactivity_openActivitiesSouth:global(.__wab_instance) {
  display: none;
}
.svg__cOeJr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__djZlE {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.svg___1NPY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__t3Xyj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oyQaa {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__rjz8E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tCgdq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k32To {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__wy1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.openNorthSubmit:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.openNorthSubmitactivity_skateParkArea:global(.__wab_instance) {
  display: none;
}
.openNorthSubmitactivity_openActivitiesNorth:global(.__wab_instance) {
  display: flex;
}
.openNorthSubmitactivity_openActivitiesSouth:global(.__wab_instance) {
  display: none;
}
.svg__ny5Gq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__weI08 {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.svg__bph6Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jxVe4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ofa1O {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__rtJyc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__m5Gib {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9DjVk {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__xcUpx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.openSouthSubmit:global(.__wab_instance) {
  max-width: 100%;
}
.svg__k2LlC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Bs8R {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.svg__o4RB5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__phIp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7QEjq {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__du6Y0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rkYxu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gakFv {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.svg__pYm4Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
