.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.viewSelectionBar {
  background: rgba(241, 241, 241, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 16px 0px var(--token-LqpCVPPZF4_r);
  border-radius: 25px;
  padding: 15px;
}
.viewSelectionBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.viewSelectionBar > :global(.__wab_flex-container) > *,
.viewSelectionBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.viewSelectionBar > :global(.__wab_flex-container) > picture > img,
.viewSelectionBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__cXqWt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.frame8715:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___1MnaY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.frame8716:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__vKXbS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.frame8717:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__gPyc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.frame8718:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__liJrw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
