.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__ks7IC {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  color: #000000;
  width: 1017px;
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 32px;
}
.freeBox__mnvTp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 0% 4%;
}
.freeBox__vAye7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("./images/enscape20231214071249Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
  border: 1px solid #f0f0f0;
}
.canvas {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  background: none;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.helpButton {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  cursor: pointer;
  padding: 0px;
  margin: 16px;
}
.svg___2Zo0X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: fixed;
  left: 0;
  top: auto;
  z-index: 1;
  bottom: 150px;
}
.hintsDropdownMenu {
  background: rgba(241, 241, 241, 1);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.text__jsaMo {
  display: block;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(11, 11, 11, 1);
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__va8WI {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nw8Q1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: 0;
  right: 0;
  background: #ffffffe6;
  overflow: auto;
  min-height: 0;
  padding: 8px;
}
.freeBox__nw8Q1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nw8Q1 > :global(.__wab_flex-container) > *,
.freeBox__nw8Q1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nw8Q1 > :global(.__wab_flex-container) > picture > img,
.freeBox__nw8Q1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__diJG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 40%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 1px solid #f0f0f0;
}
.freeBox__diJG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__diJG > :global(.__wab_flex-container) > *,
.freeBox__diJG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__diJG > :global(.__wab_flex-container) > picture > img,
.freeBox__diJG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.newCommentText {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-zy6xhYnWF8Y7);
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.sendButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #535353d9;
}
.text__kmLsl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.commentSidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 60%;
  max-width: 100%;
  overflow: auto;
  max-height: 60%;
  min-width: 0;
  padding: 0px;
}
.commentSidebar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.commentSidebar > :global(.__wab_flex-container) > *,
.commentSidebar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.commentSidebar > :global(.__wab_flex-container) > picture > img,
.commentSidebar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.comment__fuV80:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.comment__jXvz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.comment__wMo2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.comment__syp9S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.comment__hdDi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.comment__bbf8W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.link {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  display: none;
  padding: 8px;
}
.svg__fDZp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.freeBox__p0MIh {
  background: #5353530a;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 16px 0px rgba(83, 83, 83, 0.04);
  border-radius: 25px;
  padding: 15px;
}
.freeBox__p0MIh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__p0MIh > :global(.__wab_flex-container) > *,
.freeBox__p0MIh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p0MIh > :global(.__wab_flex-container) > picture > img,
.freeBox__p0MIh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.viewButton1:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__jWhYk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.viewButton2:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__iy8Eb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.viewButton3:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text___6C9Ky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.viewButton4:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__dbbOx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.viewButton5:global(.__wab_instance) {
  width: 150px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.text__pcs4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
