.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  max-width: 1436px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox___0ZDE {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding: 30px;
}
.text__lca8N {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  color: #000000;
  margin: 0px;
}
.freeBox__mcGsO {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__mcGsO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mcGsO > :global(.__wab_flex-container) > *,
.freeBox__mcGsO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mcGsO > :global(.__wab_flex-container) > picture > img,
.freeBox__mcGsO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.firstRoll {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 16px;
}
.boxLelino {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.photoLelino {
  object-fit: cover;
  max-width: 80%;
  width: auto;
  height: auto;
  display: block !important;
  left: auto;
  top: auto;
  position: relative;
  margin: 10px;
}
.photoLelino > picture > img {
  object-fit: cover;
}
.linkedinLelino {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 17%;
  height: 15%;
  display: block;
  position: absolute;
  top: 166px;
  left: 108px;
  cursor: pointer;
  padding-top: 0px;
  margin: 10px;
}
.text___144B0 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 62.83%;
  height: 11.62%;
  margin: 10px;
}
.boxTina {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin: 0px;
}
.photoTina {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  width: auto;
  height: auto;
  display: block !important;
  top: auto;
  left: auto;
  margin: 10px;
}
.photoTina > picture > img {
  object-fit: cover;
}
.linkedinTina {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 17%;
  height: 15%;
  display: block;
  position: absolute;
  top: 176px;
  left: 117px;
  cursor: pointer;
  padding-top: 0px;
}
.text__rxhKp {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 62.83%;
  height: 11.62%;
  margin: 10px;
}
.boxMohammad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.photoMohammad {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  width: auto;
  height: auto;
  display: block !important;
  top: auto;
  left: auto;
  margin: 10px;
}
.photoMohammad > picture > img {
  object-fit: cover;
}
.linkedinMohammad {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 17%;
  height: 15%;
  display: block;
  position: absolute;
  top: 176px;
  left: 120px;
  cursor: pointer;
}
.text__nwz1W {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 62.83%;
  height: 11.62%;
  margin: 10px;
}
.boxVinzenz {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.photoVinzenz {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  width: auto;
  height: auto;
  display: block !important;
  top: auto;
  left: auto;
  margin: 10px;
}
.photoVinzenz > picture > img {
  object-fit: cover;
}
.linkedinVinzenz {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 17%;
  height: 15%;
  display: block;
  position: absolute;
  top: 176px;
  left: 121px;
  cursor: pointer;
}
.text__sVNtH {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 62.83%;
  height: 11.62%;
  margin: 10px;
}
.boxKoray {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.photoKoray {
  position: relative;
  object-fit: cover;
  max-width: 80%;
  width: auto;
  height: auto;
  display: block !important;
  top: auto;
  left: auto;
  margin: 10px;
}
.photoKoray > picture > img {
  object-fit: cover;
}
.linkedinKoray {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 17%;
  height: 15%;
  display: block;
  position: absolute;
  top: 175px;
  left: 117px;
  cursor: pointer;
}
.text__o2J8N {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 62.83%;
  height: 11.62%;
  margin: 10px;
}
