.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox___0ZDE {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding: 40px;
}
.text__lca8N {
  display: block;
  font-size: var(--token-bucIARGmMoc6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  color: #535353;
  margin: 0px;
}
.freeBox__mcGsO {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__mcGsO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  align-content: flex-start;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__mcGsO > :global(.__wab_flex-container) > *,
.freeBox__mcGsO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mcGsO > :global(.__wab_flex-container) > picture > img,
.freeBox__mcGsO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
  margin-top: 40px;
}
.freeBox__tcyDj {
  width: 331px;
  height: 430px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__iDXuX {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img__iDXuX > picture > img {
  object-fit: cover;
}
.freeBox___05Slf {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 12.08%;
  height: 9.3%;
  display: block;
  position: absolute;
  top: 64.41%;
  left: 43.8%;
  cursor: pointer;
}
.text___144B0 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83.02%;
  left: 18.73%;
  width: 62.83%;
  height: 11.62%;
  margin-bottom: 0px;
}
.freeBox__d5CPz {
  width: 331px;
  height: 430px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__q0J1W {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 331px;
  height: 331px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img__q0J1W > picture > img {
  object-fit: cover;
}
.freeBox__kWnae {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 12.08%;
  height: 9.3%;
  display: block;
  position: absolute;
  top: 64.41%;
  left: 43.8%;
  cursor: pointer;
}
.text__rxhKp {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83.02%;
  left: 18.73%;
  width: 62.83%;
  height: 11.62%;
}
.freeBox__m0RYw {
  width: 331px;
  height: 430px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__fDnL {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 331px;
  height: 331px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img__fDnL > picture > img {
  object-fit: cover;
}
.freeBox__hDlqf {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 12.08%;
  height: 9.3%;
  display: block;
  position: absolute;
  top: 64.41%;
  left: 43.8%;
  cursor: pointer;
}
.text__sVNtH {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83.02%;
  left: 18.73%;
  width: 62.83%;
  height: 11.62%;
}
.freeBox__xMmvA {
  width: 331px;
  height: 430px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__e2U4J {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 331px;
  height: 331px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img__e2U4J > picture > img {
  object-fit: cover;
}
.freeBox__mU9Yt {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 12.08%;
  height: 9.3%;
  display: block;
  position: absolute;
  top: 64.41%;
  left: 43.8%;
  cursor: pointer;
}
.text__nwz1W {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83.02%;
  left: 18.73%;
  width: 62.83%;
  height: 11.62%;
}
.freeBox__fuOmh {
  width: 331px;
  height: 430px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__fE9Pa {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 331px;
  height: 331px;
  display: block !important;
  top: 0%;
  left: 0%;
}
.img__fE9Pa > picture > img {
  object-fit: cover;
}
.freeBox___5JZeK {
  background: url("./images/image5.png") center center / cover no-repeat;
  width: 12.08%;
  height: 9.3%;
  display: block;
  position: absolute;
  top: 64.41%;
  left: 43.8%;
  cursor: pointer;
}
.text__o2J8N {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 83.02%;
  left: 18.73%;
  width: 62.83%;
  height: 11.62%;
}
