.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}
.loginForm {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
}
.infoBox {
  width: 505px;
  height: 1001px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  flex-shrink: 0;
}
.infoBoxDetail {
  width: 505px;
  height: 1001px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.rectangleInfoBox {
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05),
    inset 0px 0px 0px 0.5px rgba(134, 134, 134, 1);
  background: rgba(255, 255, 255, 1);
  width: 505px;
  height: 1001px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
}
.infoBoxAgain {
  width: 458px;
  height: 934px;
  display: block;
  position: absolute;
  top: 14px;
  left: 18px;
}
.infoBoxAgainAgain {
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  margin: 10px;
}
.text__yINft {
  display: block;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  text-align: left;
  margin: 10px 10px 10px 5px;
}
.textGroup {
  width: 100%;
  height: 120px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  min-width: 0;
  flex-shrink: 0;
  margin: 5px;
}
.thatsVeryNiceOfYou {
  display: block;
  font-size: 31px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: left;
}
.text__daDbc {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 48px;
  left: 0px;
  width: 397px;
  height: auto;
}
.geography {
  width: 100%;
  height: 92px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
}
.postCode {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin: 10px;
}
.postalCodeTxT {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 92.19%;
  margin: 5px;
}
.postCodeBox {
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  top: 33px;
  left: 0px;
  flex-direction: column;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.postCodeRect {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 0.6px rgba(40, 40, 40, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  border-radius: 6px;
  margin: 10px 10px 10px 5px;
}
.country {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin: 10px;
}
.postalCodeTxT2 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 92.19%;
  margin: 5px;
}
.postCodeBox2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  top: 33px;
  left: 0px;
  flex-direction: column;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.postCodeRect2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 0.6px rgba(40, 40, 40, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  min-width: 0;
  min-height: 0;
  border-radius: 6px;
  margin: 10px 10px 10px 5px;
}
.multipleChoice {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0px;
  min-width: 0;
  margin: 10px 10px 10px 5px;
}
.question {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px 16px 8px;
}
.question > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.question > :global(.__wab_flex-container) > *,
.question > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.question > :global(.__wab_flex-container) > picture > img,
.question
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
}
.options {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.option1 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding: 8px 16px;
}
.option1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.option1 > :global(.__wab_flex-container) > *,
.option1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.option1 > :global(.__wab_flex-container) > picture > img,
.option1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.checkbox1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding: 8px 16px;
}
.option2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.option2 > :global(.__wab_flex-container) > *,
.option2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.option2 > :global(.__wab_flex-container) > picture > img,
.option2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding: 8px 16px;
}
.option3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.option3 > :global(.__wab_flex-container) > *,
.option3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.option3 > :global(.__wab_flex-container) > picture > img,
.option3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.checkbox5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.question2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.question2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.question2 > :global(.__wab_flex-container) > *,
.question2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.question2 > :global(.__wab_flex-container) > picture > img,
.question2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: calc(10px + 4px) !important;
  min-width: 0;
}
.frame22 {
  width: 456px;
  height: 65px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-shrink: 0;
  padding: 8px 16px 16px;
}
.frame22 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame22 > :global(.__wab_flex-container) > *,
.frame22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame22 > :global(.__wab_flex-container) > picture > img,
.frame22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 4px;
  padding: 12px;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__jrZus {
  opacity: 0.4;
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 22, 41, 1);
  position: relative;
}
.question3 {
  width: 456px;
  height: 41px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  flex-shrink: 0;
  padding: 16px 16px 8px;
}
.question3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.question3 > :global(.__wab_flex-container) > *,
.question3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.question3 > :global(.__wab_flex-container) > picture > img,
.question3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.label3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.frame3 {
  width: 456px;
  height: 65px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-shrink: 0;
  padding: 8px 16px 16px;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 4px;
  padding: 10px;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.whenGoingToWorkWalkingYourDogOrGoingShopping {
  opacity: 0.4;
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.additionalQuestions {
  width: 456px;
  height: 186px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frame5 {
  width: 456px;
  height: 93px;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  flex-direction: column;
  z-index: 1;
  flex-shrink: 0;
  padding: 8px 16px 16px;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__hDqr9 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.frame6 {
  width: 426px;
  height: 42px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__p7Z6R {
  margin-bottom: 0px;
}
.frame7 {
  width: 456px;
  height: 93px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-shrink: 0;
  padding: 8px 16px 16px;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__iiFcm {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(88, 88, 88, 1);
  position: sticky;
  width: 414px;
  align-self: flex-start;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.frame8 {
  width: 426px;
  height: 42px;
  display: flex;
  position: sticky;
  flex-direction: row;
  left: 0px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.register {
  width: 423px;
  height: 57px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.registerRectangle {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 6px;
  margin: 10px 5px;
}
.text__g2RP {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 183.5px;
  text-align: center;
}
