.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: none;
  box-shadow: none;
  justify-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.lightboxDisplay {
  background: var(--token-MjYUWCcX38Uk);
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__qUZjT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: flex-end;
  min-width: 0;
  padding: 10px 20px 10px 10px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 36px;
  height: 36px;
  display: block !important;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px var(--token--rHJyFFIHSqx);
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__vWrtT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  padding: 50px 70px 0px;
  margin: 0px;
}
.freeBox__vWrtT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__vWrtT > :global(.__wab_flex-container) > *,
.freeBox__vWrtT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vWrtT > :global(.__wab_flex-container) > picture > img,
.freeBox__vWrtT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.leftArrow {
  object-fit: cover;
  max-width: auto;
  transform: scale(1, -1) rotate(-180deg);
  width: auto;
  height: 56px;
  display: block !important;
  transform-origin: top left;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px var(--token-LqpCVPPZF4_r);
  margin-right: 10px;
  margin-left: calc(10px + 10px) !important;
  margin-bottom: 10px;
  margin-top: 10px;
  align-self: center;
  left: auto;
  top: auto;
  position: relative;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 5px;
  border: 3px solid var(--token-6G9-A5vsJlrH);
}
.leftArrow > picture > img {
  object-fit: cover;
}
.root .leftArrow {
  margin-left: calc(10px + 10px) !important;
}
.leftArrowpopUpVariants_activity1 {
  margin-left: calc(10px + 10px) !important;
}
.leftArrowpopUpVariants_activity2 {
  left: auto;
  top: auto;
  margin-left: calc(10px + 10px) !important;
}
.leftArrowpopUpVariants_activity3 {
  margin-left: calc(10px + 10px) !important;
}
.root .leftArrow:hover {
  box-shadow: 6px 4px 16px 0px var(--token-6G9-A5vsJlrH);
  margin-left: calc(10px + 10px) !important;
  border-radius: 5px;
  border: 5px solid var(--token-DxfYAkV7QVUJ);
}
.display {
  width: 1023px;
  height: 1034px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  box-shadow: 0px 4px 40px 10px var(--token-RHb8DXPBtDBn);
  background: linear-gradient(0deg, #ce9fff57 0%, #56b9ff 100%) 0% 0% / 100%
    100% repeat;
  align-self: stretch;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: calc(50px + 10px) !important;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #464646;
}
.maskGroup {
  width: 1023px;
  height: 464px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image {
  background: url("./images/image.png") center center / cover no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.imagepopUpVariants_activity2 {
  background: url("./images/activity2Png.png") center center / cover no-repeat;
}
.imagepopUpVariants_activity3 {
  background: url("./images/rectangle3178.png") center center / cover no-repeat;
}
.imagepopUpVariants_activity4 {
  background: url("./images/act4Txtpng.png") center center / cover no-repeat;
}
.imagepopUpVariants_activity5 {
  background: url("./images/activity4Png.png") center center / cover no-repeat;
}
.maskGroup2 {
  width: 269px;
  height: 570px;
  display: block;
  position: absolute;
  top: 464px;
  left: 0px;
}
.image2 {
  background: rgba(0, 0, 0, 0.33);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  padding-right: 0px;
}
.extendingFromTheSkateParkUsersWillFlowFromRampsToAnOpenAreaAdornedWithGraffitiCoveredColumnsHereOneCanRelaxWhileLookingAtTheArtOrIndulgeInClimbingConvenientlyCloseToHomeTheClimbingWallIntegratedOntoReinforcedWallsSupportingRampsMaintainsPrivacyWithCoveredUpperSidesAndAllowsNaturalLightThroughCarefullyPlacedOpeningsWellLitForNighttimeUseTheSpaceIncludesAFewParkingSpotsWithPowerStationsForElectricVehiclesEnhancingAccessibilityAndConvenience {
  position: absolute;
  top: 315px;
  left: 12px;
  width: 249px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  display: block;
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 0px;
}
.maskGroup3 {
  transform: rotate(-90deg);
  width: 259px;
  height: 754px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 723px;
  left: 269px;
}
.image3 {
  background: url("./images/veri3Png.png") center center / cover no-repeat;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.image3popUpVariants_activity2 {
  background: url("./images/veri2Png.png") center center / cover no-repeat;
}
.image3popUpVariants_activity3 {
  background: url("./images/image2.png") center center / cover no-repeat;
}
.image3popUpVariants_activity4 {
  background: url("./images/southpng.png") center center / cover no-repeat;
}
.image3popUpVariants_activity5 {
  background: url("./images/veri2Png2.png") center center / cover no-repeat;
}
.maskGroup4 {
  width: 754px;
  height: 311px;
  display: block;
  position: absolute;
  top: 723px;
  left: 269px;
}
.image4 {
  background: url("./images/image4.png") center center / cover no-repeat;
  width: 100%;
  height: 101.28%;
  display: block;
  position: absolute;
  top: -1.29%;
  left: 0%;
}
.image4popUpVariants_activity2 {
  background: url("./images/rectangle3177.png") center center / cover no-repeat;
}
.image4popUpVariants_activity3 {
  background: url("./images/bridgeViewpng.png") center center / cover no-repeat;
}
.caption {
  display: block;
  font-size: 32px;
  font-family: "Bangers";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 463px;
  left: 16px;
}
.rightArrow {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 47px;
  height: 56px;
  display: block !important;
  top: auto;
  left: auto;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px var(--token-LqpCVPPZF4_r);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: calc(10px + 10px) !important;
  align-self: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 3px solid var(--token-6G9-A5vsJlrH);
}
.rightArrow > picture > img {
  object-fit: cover;
}
.rightArrowpopUpVariants_activity1 {
  margin-left: calc(10px + 10px) !important;
}
.rightArrowpopUpVariants_activity2 {
  left: auto;
  top: auto;
  margin-left: calc(10px + 10px) !important;
}
.rightArrowpopUpVariants_activity3 {
  left: auto;
  top: auto;
  margin-left: calc(10px + 10px) !important;
}
.root .rightArrow:hover {
  box-shadow: 6px 4px 16px 0px var(--token-AkJsX7eWcpyM);
  margin-left: calc(10px + 10px) !important;
  border-width: 5px;
  border-color: var(--token-pRs3-4jrQ4XQ);
}
.vottingButton {
  background: linear-gradient(180deg, #d85caf 0%, #3343db 100%);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 40px;
}
.leaveAComment {
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
