.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.alert01 {
  width: 545px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frame1141 {
  width: 545px;
  height: 170px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.frame1038 {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(221, 225, 229, 1),
    inset 0px 0px 0px 0.5px rgba(221, 225, 229, 1);
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.079))
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.119));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  border-radius: 8px;
  padding: 36px 40px;
}
.frame1038 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame1038 > :global(.__wab_flex-container) > *,
.frame1038 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1038 > :global(.__wab_flex-container) > picture > img,
.frame1038
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame1045 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame1045 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.frame1045 > :global(.__wab_flex-container) > *,
.frame1045 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1045 > :global(.__wab_flex-container) > picture > img,
.frame1045
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.icon {
  background: rgba(244, 244, 244, 1);
  width: 56px;
  height: 56px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__tkeGv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 28px;
  height: 28px;
  display: block !important;
  top: 14px;
  left: 14px;
}
.img__tkeGv > picture > img {
  object-fit: cover;
}
.frame1039 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame1039 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1039 > :global(.__wab_flex-container) > *,
.frame1039 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1039 > :global(.__wab_flex-container) > picture > img,
.frame1039
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(83, 88, 93, 1);
  position: relative;
}
.paragraph {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 22px;
  color: rgba(83, 88, 93, 0.6);
  position: relative;
  width: 385px;
}
.img__j3JaV {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: flex !important;
  top: 10px;
  left: 512px;
  flex-direction: row;
  border-radius: 29px;
  padding: 4px;
}
.img__j3JaV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.img__j3JaV > :global(.__wab_flex-container) > *,
.img__j3JaV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.img__j3JaV > :global(.__wab_flex-container) > picture > img,
.img__j3JaV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__j3JaV {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  display: flex !important;
  top: 10px;
  left: 512px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  padding: 4px;
}
.img__j3JaV > picture > img {
  object-fit: cover;
}
