.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__fDoPr {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox__buFF {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox__nca0M {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 0;
  min-height: 0;
}
.freeBox__nca0M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nca0M > :global(.__wab_flex-container) > *,
.freeBox__nca0M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nca0M > :global(.__wab_flex-container) > picture > img,
.freeBox__nca0M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__aBOyi {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 295px;
}
.freeBox__tyewh {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tyewh > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__tyewh > :global(.__wab_flex-container) > *,
.freeBox__tyewh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tyewh > :global(.__wab_flex-container) > picture > img,
.freeBox__tyewh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.email:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5Q0Qi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gfh7I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__tA4Gb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__tA4Gb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__tA4Gb > :global(.__wab_flex-container) > *,
.freeBox__tA4Gb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tA4Gb > :global(.__wab_flex-container) > picture > img,
.freeBox__tA4Gb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__i95N {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 274px;
  padding-right: 5px;
}
.freeBox__dotqt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 4px;
}
.text___3LBz {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  text-align: center;
  width: auto;
  height: auto;
  font-weight: 700;
  padding: 0px;
}
.textlogin___3LBzxLejx {
  display: none;
}
.text__gQ0K8 {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 100%;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 274px;
  padding-right: 5px;
  font-weight: 700;
  cursor: pointer;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__g5F3U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__e96Vf {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__e96Vf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__e96Vf > :global(.__wab_flex-container) > *,
.freeBox__e96Vf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e96Vf > :global(.__wab_flex-container) > picture > img,
.freeBox__e96Vf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.cancelButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kJxwf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qw11J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.registerButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__o2C1R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mg2Zl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
