.root {
  background: linear-gradient(90deg, #d85caf 0%, #3343db 100%) 0% 0% / 100% 100%
    no-repeat;
  filter: none;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 100px;
  padding: 15px 20px;
}
.freeBox {
  display: flex;
  position: relative;
  width: auto;
  cursor: pointer;
}
.freeBoxoptions_sVersion {
  width: auto;
}
.slotTargetChildren {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 20px;
  letter-spacing: 0em;
}
.slotTargetChildrenoptions_sVersion {
  font-size: 16px;
}
