.vote {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
}
.freeBox__bH803 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
}
.freeBox__eYkYc {
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 20px;
}
.freeBox__eYkYc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__eYkYc > :global(.__wab_flex-container) > *,
.freeBox__eYkYc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eYkYc > :global(.__wab_flex-container) > picture > img,
.freeBox__eYkYc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.votingCard__hnUh1:global(.__wab_instance) {
  position: relative;
}
.votingCard__aV27L:global(.__wab_instance) {
  position: relative;
}
.votingCard___4M1VA:global(.__wab_instance) {
  position: relative;
}
.votingCard__dZYnU:global(.__wab_instance) {
  position: relative;
}
.votingCard__bhY:global(.__wab_instance) {
  position: relative;
}
