.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  max-width: 1436px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox___0ZDE {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding: 30px;
}
.text__lca8N {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  color: #000000;
  margin: 0px;
}
.freeBox___4BVv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 16px;
}
.boxLelino {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.photoLelino {
  object-fit: cover;
  width: 150px;
  height: 150px;
  display: block !important;
  left: auto;
  top: auto;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}
.photoLelino > picture > img {
  object-fit: cover;
}
.text___144B0 {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 10px;
}
.boxTina {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 0px;
}
.photoTina {
  position: relative;
  object-fit: cover;
  width: 150px;
  height: 150px;
  display: block !important;
  top: auto;
  left: auto;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}
.photoTina > picture > img {
  object-fit: cover;
}
.text__rxhKp {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 10px;
}
.boxMohammad {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.photoMohammad {
  position: relative;
  object-fit: cover;
  width: 150px;
  height: 150px;
  display: block !important;
  top: auto;
  left: auto;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}
.photoMohammad > picture > img {
  object-fit: cover;
}
.text__nwz1W {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 10px;
}
.boxVinzenz {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.photoVinzenz {
  position: relative;
  object-fit: cover;
  width: 150px;
  height: 150px;
  display: block !important;
  top: auto;
  left: auto;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}
.photoVinzenz > picture > img {
  object-fit: cover;
}
.text__sVNtH {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 10px;
}
.boxKoray {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.photoKoray {
  position: relative;
  object-fit: cover;
  max-width: 150%;
  width: 150px;
  height: auto;
  display: block !important;
  top: auto;
  left: auto;
  cursor: pointer;
  margin: 10px;
}
.photoKoray > picture > img {
  object-fit: cover;
}
.text__o2J8N {
  display: block;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 10px;
}
