.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  backdrop-filter: none;
  transform: none;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 15px 12px 20px;
  border: 2px solid var(--token-RvPI6LyeIPmd);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: #30a46c;
}
.rootcolor_yellow {
  background: #f5d90a;
}
.rootcolor_red {
  background: #e54d2e;
}
.rootcolor_sand {
  background: #717069;
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_softBlue {
  background: #edf6ff;
}
.rootcolor_softGreen {
  background: #e9f9ee;
}
.rootcolor_softYellow {
  background: #fffbd1;
}
.rootcolor_softRed {
  background: #fff0ee;
}
.rootcolor_softSand {
  background: #eeeeec;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshape_rounded_showEndIcon {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root:hover {
  background: linear-gradient(0deg, #fd96db 0%, #8690ec 100%);
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active {
  background: #000000;
}
.rootcolor_blue:active {
  background: #52a9ff;
}
.rootcolor_green:active {
  background: #4cc38a;
}
.rootcolor_yellow:active {
  background: #f0c000;
}
.rootcolor_red:active {
  background: #f16a50;
}
.rootcolor_sand:active {
  background: #a1a09a;
}
.rootcolor_white:active {
  background: #f0c000;
}
.rootcolor_softBlue:active {
  background: #cee7fe;
}
.rootcolor_softGreen:active {
  background: #ccebd7;
}
.rootcolor_softYellow:active {
  background: #fef2a4;
}
.rootcolor_softRed:active {
  background: #fdd8d3;
}
.rootcolor_softSand:active {
  background: #e3e3e0;
}
.rootcolor_clear:active {
  background: #e3e3e0;
}
.rootcolor_link:active {
  background: #ffffff00;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg__kMgHp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrenshowEndIcon {
  text-align: center;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_yellow {
  color: #35290f;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_sand {
  color: #ffffff;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_softBlue {
  color: #006adc;
}
.slotTargetChildrencolor_softGreen {
  color: #18794e;
}
.slotTargetChildrencolor_softYellow {
  color: #946800;
}
.slotTargetChildrencolor_softRed {
  color: #ca3214;
}
.slotTargetChildrencolor_softSand {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:active .slotTargetChildrencolor_link {
  color: #006adc;
}
.text__mxDxH {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  margin-right: 0px;
  min-width: 0;
  min-height: 0;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #d4a9ff;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg___3OQp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__sRj10 {
  display: flex;
  position: relative;
  flex-direction: row;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  backdrop-filter: none;
  transform: none;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 15px 12px 20px;
  border: 2px solid var(--token-RvPI6LyeIPmd);
}
.button__sRj10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__sRj10 > :global(.__wab_flex-container) > *,
.button__sRj10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__sRj10 > :global(.__wab_flex-container) > picture > img,
.button__sRj10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.buttonshowStartIcon__sRj10Jl3Pk {
  padding-left: 16px;
}
.buttonshowEndIcon__sRj10FJknh {
  padding-right: 16px;
}
.buttonisDisabled__sRj10VlZp {
  cursor: not-allowed;
  opacity: 0.6;
}
.buttonshape_rounded__sRj105VLxL {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  border-radius: 999px;
}
.buttonshape_round__sRj10AQ4Hz {
  border-radius: 50%;
  padding: 12px;
}
.buttonshape_sharp__sRj10Ct1Bz {
  border-radius: 0px;
}
.buttonsize_compact__sRj10HYmh {
  padding: 6px 16px;
}
.buttonsize_minimal__sRj10Vc1Ed {
  padding: 0px;
}
.buttoncolor_blue__sRj10CnqoE {
  background: #0091ff;
}
.buttoncolor_green__sRj10V6H1J {
  background: #30a46c;
}
.buttoncolor_yellow__sRj10Qx83W {
  background: #f5d90a;
}
.buttoncolor_red__sRj10Az0VA {
  background: #e54d2e;
}
.buttoncolor_sand__sRj103VQy4 {
  background: #717069;
}
.buttoncolor_white__sRj10V1XeG {
  background: #ffffff;
}
.buttoncolor_softBlue__sRj100MdWm {
  background: #edf6ff;
}
.buttoncolor_softGreen__sRj10JV44D {
  background: #e9f9ee;
}
.buttoncolor_softYellow__sRj104HNqh {
  background: #fffbd1;
}
.buttoncolor_softRed__sRj10NvxpF {
  background: #fff0ee;
}
.buttoncolor_softSand__sRj10Cu7Lj {
  background: #eeeeec;
}
.buttoncolor_clear__sRj10Xs0Fs {
  background: #ffffff00;
}
.buttoncolor_link__sRj10Z8DhY {
  background: #ffffff00;
}
.buttonshape_rounded_showStartIcon__sRj105VLxLJl3Pk {
  padding-left: 16px;
}
.buttonshape_rounded_showEndIcon__sRj105VLxLFJknh {
  padding-right: 16px;
}
.buttonshape_round_size_compact__sRj10AQ4HzHYmh {
  padding: 6px;
}
.root:focus-within .button__sRj10 {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root .button___focusVisibleWithin__sRj10Opjw3 {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active .button__sRj10 {
  background: #2e2e2b;
}
.rootcolor_blue:active .buttoncolor_blue__sRj10CnqoE {
  background: #52a9ff;
}
.rootcolor_green:active .buttoncolor_green__sRj10V6H1J {
  background: #4cc38a;
}
.rootcolor_yellow:active .buttoncolor_yellow__sRj10Qx83W {
  background: #f0c000;
}
.rootcolor_red:active .buttoncolor_red__sRj10Az0VA {
  background: #f16a50;
}
.rootcolor_sand:active .buttoncolor_sand__sRj103VQy4 {
  background: #a1a09a;
}
.rootcolor_white:active .buttoncolor_white__sRj10V1XeG {
  background: #f0c000;
}
.rootcolor_softBlue:active .buttoncolor_softBlue__sRj100MdWm {
  background: #cee7fe;
}
.rootcolor_softGreen:active .buttoncolor_softGreen__sRj10JV44D {
  background: #ccebd7;
}
.rootcolor_softYellow:active .buttoncolor_softYellow__sRj104HNqh {
  background: #fef2a4;
}
.rootcolor_softRed:active .buttoncolor_softRed__sRj10NvxpF {
  background: #fdd8d3;
}
.rootcolor_softSand:active .buttoncolor_softSand__sRj10Cu7Lj {
  background: #e3e3e0;
}
.rootcolor_clear:active .buttoncolor_clear__sRj10Xs0Fs {
  background: #e3e3e0;
}
.rootcolor_link:active .buttoncolor_link__sRj10Z8DhY {
  background: #ffffff00;
}
.startIconContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainer2showStartIcon {
  display: flex;
}
.slotTargetStartIcon2 {
  color: #ededec;
}
.slotTargetStartIcon2color_yellow {
  color: #35290f;
}
.slotTargetStartIcon2color_white {
  color: #35290f;
}
.slotTargetStartIcon2color_softBlue {
  color: #006adc;
}
.slotTargetStartIcon2color_softGreen {
  color: #18794e;
}
.slotTargetStartIcon2color_softYellow {
  color: #946800;
}
.slotTargetStartIcon2color_softRed {
  color: #ca3214;
}
.slotTargetStartIcon2color_softSand {
  color: #706f6c;
}
.slotTargetStartIcon2color_clear {
  color: #1b1b18;
}
.slotTargetStartIcon2color_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetStartIcon2color_link {
  color: #006adc;
}
.svg__wXmXb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer2___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren2 {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildren2showEndIcon {
  text-align: center;
}
.slotTargetChildren2color_blue {
  color: #ffffff;
}
.slotTargetChildren2color_green {
  color: #ffffff;
}
.slotTargetChildren2color_yellow {
  color: #35290f;
}
.slotTargetChildren2color_red {
  color: #ffffff;
}
.slotTargetChildren2color_sand {
  color: #ffffff;
}
.slotTargetChildren2color_white {
  color: #1b1b18;
}
.slotTargetChildren2color_softBlue {
  color: #006adc;
}
.slotTargetChildren2color_softGreen {
  color: #18794e;
}
.slotTargetChildren2color_softYellow {
  color: #946800;
}
.slotTargetChildren2color_softRed {
  color: #ca3214;
}
.slotTargetChildren2color_softSand {
  color: #1b1b18;
}
.slotTargetChildren2color_clear {
  color: #1b1b18;
}
.slotTargetChildren2color_link {
  color: #0091ff;
}
.root:focus-within .slotTargetChildren2 > *,
.root:focus-within .slotTargetChildren2 > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren2 > picture > img,
.root:focus-within .slotTargetChildren2 > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren2___focusVisibleWithin > *,
.root .slotTargetChildren2___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren2___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren2___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:active .slotTargetChildren2color_link {
  color: #006adc;
}
.text__vcD23 {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.endIconContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #d4a9ff;
}
.slotTargetEndIcon2 {
  color: #ededec;
}
.slotTargetEndIcon2color_yellow {
  color: #35290f;
}
.slotTargetEndIcon2color_white {
  color: #35290f;
}
.slotTargetEndIcon2color_softBlue {
  color: #006adc;
}
.slotTargetEndIcon2color_softGreen {
  color: #18794e;
}
.slotTargetEndIcon2color_softYellow {
  color: #946800;
}
.slotTargetEndIcon2color_softRed {
  color: #ca3214;
}
.slotTargetEndIcon2color_softSand {
  color: #706f6c;
}
.slotTargetEndIcon2color_clear {
  color: #1b1b18;
}
.slotTargetEndIcon2color_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetEndIcon2color_link {
  color: #006adc;
}
.svg__czOv7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ogJvL {
  display: flex;
  position: relative;
  flex-direction: row;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  backdrop-filter: none;
  transform: none;
  -webkit-backdrop-filter: none;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 15px 12px 20px;
  border: 2px solid var(--token-RvPI6LyeIPmd);
}
.button__ogJvL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__ogJvL > :global(.__wab_flex-container) > *,
.button__ogJvL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__ogJvL > :global(.__wab_flex-container) > picture > img,
.button__ogJvL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.buttonshowStartIcon__ogJvLjl3Pk {
  padding-left: 16px;
}
.buttonshowEndIcon__ogJvLfJknh {
  padding-right: 16px;
}
.buttonisDisabled__ogJvLvlZp {
  cursor: not-allowed;
  opacity: 0.6;
}
.buttonshape_rounded__ogJvL5VLxL {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  background: linear-gradient(0deg, #d85caf 0%, #3343db 100%);
  border-radius: 999px;
}
.buttonshape_round__ogJvLaQ4Hz {
  border-radius: 50%;
  padding: 12px;
}
.buttonshape_sharp__ogJvLCt1Bz {
  border-radius: 0px;
}
.buttonsize_compact__ogJvLhYmh {
  padding: 6px 16px;
}
.buttonsize_minimal__ogJvLVc1Ed {
  padding: 0px;
}
.buttoncolor_blue__ogJvLcnqoE {
  background: #0091ff;
}
.buttoncolor_green__ogJvLv6H1J {
  background: #30a46c;
}
.buttoncolor_yellow__ogJvLqx83W {
  background: #f5d90a;
}
.buttoncolor_red__ogJvLAz0VA {
  background: #e54d2e;
}
.buttoncolor_sand__ogJvL3VQy4 {
  background: #717069;
}
.buttoncolor_white__ogJvLv1XeG {
  background: #ffffff;
}
.buttoncolor_softBlue__ogJvL0MdWm {
  background: #edf6ff;
}
.buttoncolor_softGreen__ogJvLjV44D {
  background: #e9f9ee;
}
.buttoncolor_softYellow__ogJvL4HNqh {
  background: #fffbd1;
}
.buttoncolor_softRed__ogJvLnvxpF {
  background: #fff0ee;
}
.buttoncolor_softSand__ogJvLCu7Lj {
  background: #eeeeec;
}
.buttoncolor_clear__ogJvLxs0Fs {
  background: #ffffff00;
}
.buttoncolor_link__ogJvLz8DhY {
  background: #ffffff00;
}
.buttonshape_rounded_showStartIcon__ogJvL5VLxLJl3Pk {
  padding-left: 16px;
}
.buttonshape_rounded_showEndIcon__ogJvL5VLxLFJknh {
  padding-right: 16px;
}
.buttonshape_round_size_compact__ogJvLaQ4HzHYmh {
  padding: 6px;
}
.root:focus-within .button__ogJvL {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root .button___focusVisibleWithin__ogJvLopjw3 {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.root:active .button__ogJvL {
  background: #2e2e2b;
}
.rootcolor_blue:active .buttoncolor_blue__ogJvLcnqoE {
  background: #52a9ff;
}
.rootcolor_green:active .buttoncolor_green__ogJvLv6H1J {
  background: #4cc38a;
}
.rootcolor_yellow:active .buttoncolor_yellow__ogJvLqx83W {
  background: #f0c000;
}
.rootcolor_red:active .buttoncolor_red__ogJvLAz0VA {
  background: #f16a50;
}
.rootcolor_sand:active .buttoncolor_sand__ogJvL3VQy4 {
  background: #a1a09a;
}
.rootcolor_white:active .buttoncolor_white__ogJvLv1XeG {
  background: #f0c000;
}
.rootcolor_softBlue:active .buttoncolor_softBlue__ogJvL0MdWm {
  background: #cee7fe;
}
.rootcolor_softGreen:active .buttoncolor_softGreen__ogJvLjV44D {
  background: #ccebd7;
}
.rootcolor_softYellow:active .buttoncolor_softYellow__ogJvL4HNqh {
  background: #fef2a4;
}
.rootcolor_softRed:active .buttoncolor_softRed__ogJvLnvxpF {
  background: #fdd8d3;
}
.rootcolor_softSand:active .buttoncolor_softSand__ogJvLCu7Lj {
  background: #e3e3e0;
}
.rootcolor_clear:active .buttoncolor_clear__ogJvLxs0Fs {
  background: #e3e3e0;
}
.rootcolor_link:active .buttoncolor_link__ogJvLz8DhY {
  background: #ffffff00;
}
.startIconContainer3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainer3showStartIcon {
  display: flex;
}
.slotTargetStartIcon3 {
  color: #ededec;
}
.slotTargetStartIcon3color_yellow {
  color: #35290f;
}
.slotTargetStartIcon3color_white {
  color: #35290f;
}
.slotTargetStartIcon3color_softBlue {
  color: #006adc;
}
.slotTargetStartIcon3color_softGreen {
  color: #18794e;
}
.slotTargetStartIcon3color_softYellow {
  color: #946800;
}
.slotTargetStartIcon3color_softRed {
  color: #ca3214;
}
.slotTargetStartIcon3color_softSand {
  color: #706f6c;
}
.slotTargetStartIcon3color_clear {
  color: #1b1b18;
}
.slotTargetStartIcon3color_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetStartIcon3color_link {
  color: #006adc;
}
.svg__ueUQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer3___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren3 {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildren3showEndIcon {
  text-align: center;
}
.slotTargetChildren3color_blue {
  color: #ffffff;
}
.slotTargetChildren3color_green {
  color: #ffffff;
}
.slotTargetChildren3color_yellow {
  color: #35290f;
}
.slotTargetChildren3color_red {
  color: #ffffff;
}
.slotTargetChildren3color_sand {
  color: #ffffff;
}
.slotTargetChildren3color_white {
  color: #1b1b18;
}
.slotTargetChildren3color_softBlue {
  color: #006adc;
}
.slotTargetChildren3color_softGreen {
  color: #18794e;
}
.slotTargetChildren3color_softYellow {
  color: #946800;
}
.slotTargetChildren3color_softRed {
  color: #ca3214;
}
.slotTargetChildren3color_softSand {
  color: #1b1b18;
}
.slotTargetChildren3color_clear {
  color: #1b1b18;
}
.slotTargetChildren3color_link {
  color: #0091ff;
}
.root:focus-within .slotTargetChildren3 > *,
.root:focus-within .slotTargetChildren3 > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren3 > picture > img,
.root:focus-within .slotTargetChildren3 > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren3___focusVisibleWithin > *,
.root .slotTargetChildren3___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren3___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren3___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren3___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren3___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren3___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren3___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:active .slotTargetChildren3color_link {
  color: #006adc;
}
.text__lqk3Z {
  color: var(--token-jgohepLVeKvh);
  padding-right: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  align-self: center;
  padding-left: 5px;
  background: none;
  min-width: 0;
  min-height: 0;
}
.endIconContainer3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #d4a9ff;
}
.slotTargetEndIcon3 {
  color: #ededec;
}
.slotTargetEndIcon3color_yellow {
  color: #35290f;
}
.slotTargetEndIcon3color_white {
  color: #35290f;
}
.slotTargetEndIcon3color_softBlue {
  color: #006adc;
}
.slotTargetEndIcon3color_softGreen {
  color: #18794e;
}
.slotTargetEndIcon3color_softYellow {
  color: #946800;
}
.slotTargetEndIcon3color_softRed {
  color: #ca3214;
}
.slotTargetEndIcon3color_softSand {
  color: #706f6c;
}
.slotTargetEndIcon3color_clear {
  color: #1b1b18;
}
.slotTargetEndIcon3color_link {
  color: #0091ff;
}
.rootcolor_link:active .slotTargetEndIcon3color_link {
  color: #006adc;
}
.svg__nz7Gl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
