.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.generalBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
.generalGroup {
  width: 505px;
  height: 453px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.generalBoxRectangle {
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05),
    inset 0px 0px 0px 0.5px rgba(134, 134, 134, 1);
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 10px;
}
.boxElements {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 10px;
}
.textGroup {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 30px;
  margin: 0px;
}
.generalText {
  width: 402px;
  height: 72px;
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  flex-direction: column;
  flex-shrink: 0;
}
.helpUsMore {
  display: block;
  font-size: undefinedpx;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 10px;
}
.byFillingInAVeryQuickQuestionnaire {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
  margin: 10px 0px;
}
.boxAnswer {
  width: 423px;
  height: 57px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  margin: 15px 10px;
}
.rectangle7 {
  background: rgba(0, 0, 0, 1);
  width: 423px;
  height: 57px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 6px;
}
.answerTheQuestions {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 17px;
  left: 125px;
}
.boxFeedback {
  width: 423px;
  height: 57px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  margin: 15px 10px;
}
.rectangle6 {
  background: rgba(0, 0, 0, 1);
  width: 423px;
  height: 57px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 6px;
}
.text {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 17px;
  left: 103px;
}
